body, html{
    margin-top: 0;
    padding: 0;
}

.navbar_main{
    background-color: #efefef;
    color: #545454;
    width: 30vw;
    height: 92vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 10px;
}

.boxColor{
    background-color: #efefef;
    height: 85.7vh;
    width: 18vw;
}

.contBtn{
    background-color: #38b6ff;
}